@using System.Collections
@using Microsoft.AspNetCore.Http
@model UserModel

@{
    ViewData["Title"] = "Discord - Fedora Verifier";
}
<div class="container alert alert-info my-3">
    If you do not see a Discord/role combination in this list that you are looking for, it is possible that you are logged in on a wrong account which is not in the server you're after.
</div>

<div class="container mb-auto py-3">
    @if (User.Identity.IsAuthenticated)
    {
        <h2 class="d-flex align-items-center">
            <img src="~/images/discord.svg" class="small-icon rounded-circle mr-2" alt="Discord Logo"/>
            @Context.Session.GetString(SessionClaims.DiscordUsername), you've been given these roles:
        </h2>
        <ul>
            @foreach (var x in (IEnumerable) ViewData["AddedRoles"])
            {
                <li><span class="badge badge-primary">@x</span></li>
            }
        </ul>
    }
</div>
