@using System.Collections
@using Microsoft.AspNetCore.Http
@model UserModel

@{
    ViewData["Title"] = "Discord roles";
}

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <h1>@Context.Session.GetString(SessionClaims.DiscordUsername), you've been given these <img src="~/images/discord.png" style="width: 40px" alt="discord logo"/> roles:</h1><br>
        </div>

        <div class="row">
            <br>
        </div>
        <div class="row text-center">
            <ul class="list-group col-lg">
                @foreach (var x in (IEnumerable) ViewData["AddedRoles"])
                {
                    <li class="list-group-item font-weight-bolder">@x</li>
                }
            </ul>
        </div>
    }
</div>