@model UserModel

@{
    ViewData["Title"] = "Reddit flairs";
}
<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <h1>Pick your <img src="/css/reddit.png" style="width: 40px" alt="discord logo"/> flair:</h1>
        </div>
        <div class="row">
            <br/>
        </div>
        <div class="row">

            <ul class="list-group col-lg">
                @foreach (var x in (List<string>) ViewData["roles"])
                {
                    <a href="/Role/GetRedditFlair?flair=@x" class="font-weight-bolder list-group-item list-group-item-action text-center">@x</a>
                }
            </ul>
        </div>
    }
</div>