@using Microsoft.AspNetCore.Http
@model UserModel

@{
    ViewData["Title"] = "Reddit - Fedora Verificator";
}
<div class="container my-auto text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1>
            <img src="~/images/reddit.svg" class="small-icon rounded-circle mr-2" alt="Reddit Logo"/>
            @Context.Session.GetString(SessionClaims.RedditUsername), pick your Reddit flair:
        </h1>
        <ul>
            @foreach (var x in (List<string>) ViewData["roles"])
            {
                <li><a href="/Role/GetRedditFlair?flair=@x" class="badge badge-primary">@x</a></li>
            }
        </ul>
    }
</div>
