@using System.Collections
@model UserModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h2>You've been added these roles:</h2>
        @foreach (var x in (IEnumerable) ViewData["AddedRoles"])
         {
             @x<br>
         }
    }
</div>
