@model UserModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Hello redditor, pick which one these flairs do you want:</h2>
        @foreach (var x in (List<string>) ViewData["roles"])
         {
             <p>
                 <a href="/Role/GetRedditFlair?flair=@x">@x</a><br>
             </p>
         }
    }
</div>
