@model UserModel

@{
    ViewData["Title"] = "Home Page";
}
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <h2 class="text-xl-center">Pick which one these flairs do you want:</h2>

        <ul class="text-center">
            @foreach (var x in (List<string>) ViewData["roles"])
            {
                <li class="text-center">
                    <a href="/Role/GetRedditFlair?flair=@x">@x</a>
                </li>
            }
        </ul>
    }
</div>
