/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html, body, .bodycontent {
  height: 100vh;
  max-width: 100vw;
  margin: 0;
  display: flex;
  flex-flow: column;
}

.app-icon, .app-icon img {
    display: inline-block;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.app-icon:hover, .app-icon:hover img {
    border-radius: 33%;
}

.small-icon {
    height: 2rem;
    width: 2rem;
}

