@model UserModel

@{
    ViewData["Title"] = "Verify!";
}

<style>
    .brightness {
        display: inline-block;
    
    }
    .brightness img:hover {
        opacity: .5;
    }
</style>

<div class="text-center">

    @if (Model?.LoginType == SessionClaims.FedoraScheme || Model?.LoginType == SessionClaims.RedhatScheme)
        {
            <h2>Welcome <b>@Model?.Username</b></h2>
@*              <p>I see you are member of all these groups: @Model.Groups<br></p> *@

            <h4>
                Where do you want to get your roles?<br><a style="font-size: small"> (Click the icon)</a><br><br>
                <div class="brightness">
                    <b>
                        <a href="/Auth/DiscordLogin" class="" style="margin-right: 50px">
                            <img src="~/images/discord.png" style="width: 100px" alt="discord logo"/>
                        </a>
                    </b>
                </div>
                <div class="brightness">
                    <b>
                        <a href="/Auth/RedditLogin" class="">
                            <img src="~/images/reddit.png" style="width: 100px" alt="reddit logo"/>
                        </a>
                    </b>
                </div>
            </h4>
        }
    else
    {
        <h4>
            In order to verify as contributor please log in below<br>
        </h4>
        <h1 class="text-md-center">
            <a href="/auth/RedhatLogin" class="btn btn-lg btn-danger btn-primary">Redhat Login</a>
            <br>
            <a href="/auth/FedoraLogin" class="btn btn-lg btn-primary">FAS Login</a>
        </h1>
    }
</div>
