@model UserModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .brightness {
        display: inline-block;
    
    }
    .brightness img:hover {
        opacity: .5;
    }
</style>

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1> *@
    @if (Model?.BaseLogintype != "Fedora")
    {
        <h1>
            <a href="/auth/FedoraLogin" class="btn btn-lg btn-primary">Login to FAS</a>
        </h1>
    }

    @if (User.Identity.IsAuthenticated)
    {
        @if (Model?.BaseLogintype == "Fedora")
        {
            <h2>Welcome <b>@Model.FasNickname</b></h2>
@*              <p>I see you are member of all these groups: @Model.Groups<br></p> *@

            <h4>
                Where do you want to get your roles?<br><a style="font-size: small"> (Click the icon)</a><br><br>
                <div class="brightness">
                    <b>
                        <a href="/Auth/DiscordLogin" class="" style="margin-right: 50px">
                            <img src="css/discord.png" style="width: 100px" alt="discord logo"/>
                        </a>
                    </b>
                </div>
                <div class="brightness">

                    <b>
                        <a href="/Auth/RedditLogin" class="">
                            <img src="css/reddit.png" style="width: 100px" alt="reddit logo"/>
                        </a>
                    </b>
                </div>
            </h4>
        }
        @if (Model?.BaseLogintype == "Redhat")
        {
        }
    }
</div>