@model UserModel

@{
    ViewData["Title"] = "Fedora Verifier";
}

<div class="container my-auto text-center py-3">

    @if (Model?.LoginType == SessionClaims.FedoraScheme || Model?.LoginType == SessionClaims.RedhatScheme)
        {
            <h2>Hi <span>@Model?.Username</span>!</h2>
@*              <p>I see you are member of all these groups: @Model.Groups<br></p> *@
            <h4>Where would you like to get your roles?</h4>
            <p class="text-muted">Click on the icon</p>
            <div class="d-flex justify-content-center">
                <a href="/Auth/DiscordLogin" class="app-icon m-4" title="Discord">
                    <img src="~/images/discord.svg" alt="Discord Logo" class="d-block w-100">
                </a>
                <a href="/Auth/RedditLogin" class="app-icon m-4" title="Reddit">
                    <img src="~/images/reddit.svg" alt="Reddit Logo" class="d-block w-100">
                </a>
            </div>
        }
    else
    {
        <h4>
            In order to verify as contributor please log in below
        </h4>
        <div>
            <a href="/auth/RedhatLogin" class="btn btn-lg btn-danger d-inline-block">Red Hat Login</a>
            <a href="/auth/FedoraLogin" class="btn btn-lg btn-primary d-inline-block">Fedora Login</a>
        </div>
    }
</div>
