@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="Discord/Discord">Discord login</a>
    <p>Wanna login with Reddit or Discord?</p>
    @* <a href="Home/Reddit">Reddit login</a> *@

</div>
