@using WebApplication1.Services
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1> *@
    @* <a href="Home/Discord">Discord login</a> *@
    @* <p>Wanna login with Reddit or Discord?</p> *@
    @* <a href="Home/Reddit">Reddit login</a> *@


    @if (User.Identity.IsAuthenticated)
    {
        <p>
            You are signed in <b>@User.Claims.First(x => x.Type == "nickname").Value</b>!<br> <br>
            @if (User.Claims.FirstOrDefault(x => x.Value.Contains("cla/done")) != null)
            {
                <br>
                <b>Get your <a href="/Discord/GetRole?role=@RoleService.DiscordRoles.Contributor"> Contributor role</a></b>
            }
            @if (User.Claims.FirstOrDefault(x => x.Value.Contains("dotnet")) != null)
            {
                <br>
                <b>Get your <a href="/Discord/GetRole?role=@RoleService.DiscordRoles.Dotnet"> Dotnet member role</a></b>
            }
        </p>
    }
</div>

@*      *@
@*     <table> *@
@*         <thead> *@
@*         <tr> *@
@*             <th>Claim Type </th> *@
@*             <th>Claim Value</th> *@
@*             <th>Issuer</th> *@
@*         </tr> *@
@*         </thead> *@
@*         <tbody> *@
@* *@
@*         @foreach (var c in User.Identities.First().Claims) *@
@*         { *@
@*             <tr> *@
@*                 <td>@c.Type</td> *@
@*                 <td>@c.Value</td> *@
@*                 <td>@c.Issuer</td> *@
@*             </tr> *@
@*         } *@
@* *@
@*         </tbody> *@
@*     </table> *@
