@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div class="bodycontent h-auto">
        <div class="container py-3">
            <div id="cookieConsent" class="alert alert-info fade show m-0 d-flex align-items-center" role="alert">
                We are using cookies only to store neccessary data for verification.
                <button type="button" class="ml-auto btn btn-sm btn-outline-info" data-cookie-string="@cookieString">
                    <span>Accept</span>
                </button>
            </div>
        </div>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
                $("#cookieConsent").alert('close');
            }, false);
        })();
    </script>
}
